body{
    background-image: url(qbkls.png);
    padding: 0;
    margin: 80px;
}

.container{
    width: 960px;
    margin:auto;
    overflow: hidden;
}
.container2{
    overflow: hidden;
}

/*Header*/

header{
    background: whitesmoke;
    border-bottom: .5px solid gray;
}

header a {
    color:gray;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    display: inline;
    padding: 0 15px 0 15px;
}

header ul{
    margin: 0;
    padding: 0;
}

header #name h2{
    margin: 10px;
}

#name{
    float: left;
    background: teal;
    padding: 5px;
    color: aliceblue;
}

header nav{
    float:right;
    margin-top: 20px;
}

header a:hover{
    clear: both;
    color: antiquewhite;
    font-weight: bold;
}

/*SectionShowcase*/

#showcase{
    background: whitesmoke;
    margin: auto;
    margin-top: 50px;
    width: 860px;
    padding: 20px;
    border: solid 0.5px gray;

}

h1{
    font-size: 30px;
    color: rgb(7, 187, 127);
    border-bottom: 1px solid gray;
}

img{
    float: left;
    height: 200px;
    width: 200px;
    padding: 20px;
}

p{
    font-size: 24px;
}

footer{
    clear: both;
    width: 100%;
    text-align: center;
    background: grey;
    margin-top: 25px;
    padding: 15px;
    border: 1px solid black;
}